.projects-header {
    padding-top: 8rem;
    padding-bottom: 5rem;
    
}

.projectspage {
    background-color: #F5F5F5;
    max-width: 100%;
    
    
}

.entryPic {
    
    margin: 0 auto;
}

.projectRowEnd {
    max-width: 50%;
    margin-bottom: 2rem;
}

.projectRow {
    margin-left: 10rem;
    margin-right: 10rem;
    padding-bottom: 30rem;
}




