#root {
    background-color: #FFFFFF;
}
.aboutp {
    margin-bottom: 5rem;
    margin-top: 2.5rem;
    color: rgb(19,23,26);
}

.aboutpage {
    
    max-width: 100%;
}

.aboutbtns {
    justify-content: center;
    

}

.btn-lg {
    padding: 10px 20px;
    width: 100%;
    
}

h1 {
    text-align: center;
    margin-top: 3rem;
    
}

.intro {
    margin-left: 40%;
    margin-right: 40%;
}

.abtbtn {
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.75);
    color: gold;
}