h5 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #658C84;
}

.contacti {
    text-align: center;
    display: inline-block;
    
    justify-content: center;
    
}

.connect {
    padding-top: 8rem;
}

.contact-row {
    margin-top: 5rem;
    margin-bottom: 10rem;
    max-width: 75%;
}

.fillpage {
    margin-top:9rem;
    
    color: (0, 0, 0, 0);

}

.contactpage {
    background-color: #F5F5F5;
    max-width: 100%;
}