.entryTitle {
    
    text-align: right;

}

.entryTime {
    float: right;
    
    
    text-align: right;
    
}

.entryCompany {
    text-align: start;
    
}

.entrySummary {
    text-align: start;
    
}



.entrySecondBox {
    
    height:auto;
    right: 50%;
}



.timeline-icon {
    height: 3rem;
    display: flex;
    width: 3rem;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 75%;
    color: gold;
    align-items: center;
    justify-content: center ;
    text-align: center;
    margin: auto;
}

.line::after {
    color: gray;
    left: 50%;
}

@media only screen and (max-width: 450px) {
    .iconbox {
        width: 20%;
    }
}
