.navContainer {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: center;
}

.navbox {
    
    padding-top: 1rem;
    text-align: center;
}

.link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.8rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    justify-content: center;
    
}

.link:hover {
    color: aqua;
}

.link:active {
    color: orange;
}