.hometext {
    font-size: 36px;
    text-align: center;
    background-image: url('../image/background_pic.jpg');
    background-size: cover;
    background-position: 50% 12%;
    height: 94.5vh;
    width: 100%;
    position: relative;
    
}


.openingline {
    margin-top: 3rem;
    position: relative;
    font-weight: 800;
    font-size: 6vw;
    
}

.iconslinks {
    margin-top: 3.75rem;
    font-size: 4vw;
    display: inline;
}

h3 {
    font-size: 48px;
}

.typewriter {
    font-weight: 500;
    font-size: 56px;
    
}

.ima {
    margin-top: 3rem;
}

.hicon {
    padding: 0;
    margin: 0;
    align-items: center;
}

h1 {
    margin-top: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    height: 100%;
    width: 100%;
}