.hometext {
    font-size: 36px;
    text-align: center;
    background-image: url('../image/background_pic.jpg');
    background-size: cover;
    background-position: 50% 12%;
    height: 94.5vh;
    width: 100vw;
    position:fixed;
    
}

.openingline {
    margin-top: 2rem;
    position: relative;
}

.iconslinks {
    margin-top: 3.75rem;
}

h3 {
    font-size: 48px;
}

.typewriter {
    font-weight: 500;
    
}

.ima {
    margin-top: 3rem;
}

i {
    margin: 14px;
    color:black;
}

h1 {
    margin-top: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    height: 100%;
    width: 100%;
}