h3 {
    text-align: center;
    font-size: 1.8em;
}

.skills {
    width: 40%;
    margin-left: 25%;
    text-align:center;
    
}

.skillslist {
    color: black;
    margin-top: 3rem;
    text-align:center;
}

.skillList {
    padding-bottom: 2rem;
}

.skill {
    
    
    font-weight: 600;
    padding-left: 0;
    padding-left: 1rem;
    
    font-size: 1.25rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    
}

.listItem {
    display: block;
}

.skillText {
    text-align: center;
    margin-right: 1rem;
    max-width: 90%;
    width: 150px;
}

ul {
    text-align: center;
    align-items: center;
}

li {
    display: inline-block;
}

.list {
    padding-left: 0;
}

.years {
    font-size: 1.25rem;
    font-weight: 800;
    text-decoration: underline;
}